<h3>UserProfileComponent</h3>

<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="6" md="4" lg="3">
        <FluentCard>

            <FluentGrid Justify="JustifyContent.Center">

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <h3 style="text-align:center">Regisztrálás</h3>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Megjelenített név"TextFieldType="TextFieldType.Text" Placeholder="johndoe01" Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Email" TextFieldType="TextFieldType.Email" Placeholder="johndoe01@example.com" Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>


                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Telefonszám" TextFieldType="TextFieldType.Tel" Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Vezetéknév" TextFieldType="TextFieldType.Text" Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Keresztnév" TextFieldType="TextFieldType.Text" Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentTextField Label="Lakcím" TextFieldType="TextFieldType.Text" Style="width: 100%;">
                    </FluentTextField>
                </FluentGridItem>

                <FluentGridItem xs="12" sm="12" md="12" lg="12">
                    <FluentDatePicker Label="Születési dátum"/>
                </FluentGridItem>

            </FluentGrid>

        </FluentCard>
    </FluentGridItem>
</FluentGrid>



@code {




}
