@page "/iam/user-profile"
@using vetcms.BrowserPresentation.Components
@using vetcms.SharedModels.Common.Dto

<h3>UserProfile</h3>

<FluentTabs Orientation="Orientation.Vertical" ActiveTabId="tab-v1" Style="height: 200px;">
    <FluentTab Label="Személyes adatok" Id="profile">

    </FluentTab>
    <FluentTab Label="Állatok" Id="animals">
    </FluentTab>
</FluentTabs>

@code {

}
